/* Обнулення маржинів для заголовків і параграфів */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* Обнулення маржинів та лівого падіння для списків */
ul, ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

:root {
  --color-cloud: #F4F4FD;
}

html {
  font-size: 16px;
}

body {
  font-weight: 400;
  font-size: inherit;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  letter-spacing: .02em;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.07;
  letter-spacing: .02em;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.11;
  letter-spacing: .02em;
  text-transform: capitalize;
  color: #2e2f42;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: .02em;
  color: #2E2F42;
}

a {
  text-decoration: none;
  letter-spacing: .02em;
  color: #434455;
}

a {
  transition: background-color .25s ease-in;
}

a:hover,
a:focus {
  color: #404BBF;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}


.navigation {
  display: flex;
  align-items: center; /* Вирівнювання по вертикалі */
  justify-content: space-between; /* Рівномірне розташування елементів по горизонталі */
  padding: 20px; /* Додайте бажані внутрішні відступи */
}

.navigation__list {
  list-style: none;
  display: flex;
  gap: 40px; /* Відступи між пунктами меню */
  margin: 0;
  padding: 0;
}

.navigation__item {
  margin: 0;
  padding: 0;
}

.header {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 1128px;
  height: 100%;
}

.navigation__link {
  text-decoration: none;
  color: #000; /* Колір тексту по вашому вибору */
  font-weight: bold; /* Товщина шрифту по вашому вибору */
  font-size: 16px; /* Розмір шрифту по вашому вибору */
}


.address {
  font-style: normal;
  display: flex;
  align-items: center; /* Вирівнювання по вертикалі */
  justify-content: space-between; /* Рівномірне розташування елементів по горизонталі */
  padding: 20px; /* Додайте бажані внутрішні відступи */
}

.address__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 40px; /* Відступи між пунктами меню */
  margin: 0;
  padding: 0;
}

.address__item {
  margin: 0;
  padding: 0;
}


.logo {
  font-weight: 700;
  font-size: 1.125rem;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-left: 156px;
}

.logo__span {
  color: #2e2f42;
  margin-right: 76px;
}

.logo--white .logo__span {
  color: #f4f4fd;
}

.navigation__link {
  font-weight: 500;
  color: #2e2f42;
}

.hero {
  width: 100%;
  height: 600px;
  top: 72px;
  background-color: #2e2f42;
  margin: 0 auto;
}

.hero__title {
  text-align: center;
  color: #ffffff;
  max-height: 100%;
  padding-top: 188px;
  padding-left: 472px;
  padding-right: 472px;
}

.priorities {
  display: flex;
  justify-content: space-between;
  padding: 120px 156px;
  list-style: none;
  margin: 0;
}

.priorities__item {
  flex: 1;
  margin: 120px 24px;
}

.priorities__content {
  text-align: center;
}

.priorities__title {
  margin-bottom: 8px;
}

.hero__action {
  line-height: 1.5;
  letter-spacing: .04em;
cursor: pointer;
}


.priorities__description {
  display: flex;
  width: 264px;
  height: 72px;
}

.team {
  display: flex;
  justify-content: space-between;
  padding: 0 156px;
  padding-bottom: 120px;
  list-style: none;
  margin: 0;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px; /* Горизонтальний відступ між всіма елементами */
  padding: 0 156px; /* Відступи по боках контейнера */
  margin-bottom: 120px;
}

.portfolio__item {
  width: calc(33.333% - 24px); /* Ширина елемента з врахуванням відступу між ними */
  margin-bottom: 24px; /* Відстань між рядками */
  text-align: center; /* Вирівнювання вмісту по центру */
}

.portfolio__item:first-child {
  margin-left: 0;
}

.portfolio__item:last-child {
  margin-right: 0;
}

.portfolio__item:nth-child(n+4) {
  margin-top: 48px; /* Відстань між першим рядком і другим рядком картинок */
}


.hero__action {
  display: block;
  padding: 16px 32px;
  border: 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: #4D5AE5;
  color: #fff;
  border-radius: 4px;
  margin-top: 48px;
}

.hero__action:hover,
.hero__action:focus {
  background-color: #404bbf;
}

.hidden {
  display: none;
}

.section--background {
  background-color: #F4F4FD;
}

.section__title {
  padding-top: 120px;
  text-align: center;
  padding-bottom: 72px ;
}

.team__item {
  background-color: #fff;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
}

.footer__promote {
  padding-left: 156px; /* Відступ падінга вліво */
  padding-top: 16px;
  padding-left: 156px;
  padding-right: 1020px;
  padding-bottom: 100px;
  --color-footer-text: var(--color-cloud);

  color: var(--color-footer-text);

}
